.App .wrapper {
  max-width: 720px !important;
}
.section-result .accordion-user .accordion-user__item .card-user-repo {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: lightgrey;
  position: relative;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
}

.section-result .accordion-user .accordion-user__item .card-user-repo .card-user-repo__stars {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  display: flex;
  align-items: center;
}

.section-result .accordion-user .accordion-user__item .card-user-repo .card-user-repo__stars-icon {
  width: 1rem;
  height: 1rem;
}

.section-result .accordion-user .accordion-user__item .card-user-repo .card-user-repo__description {
  font-size: 0.875rem;
}